.event-detailed {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 150px;
  cursor: pointer;
}

.event-detailed-content {
  background-color: rgb(147, 224, 226);
  color: rgb(23, 23, 23);
  padding: 20px;
}
